<section id="display-headings" class="page-user-profile">
    <div class="row  m-2">
      <div class="col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
                <h5
                 class="deepshadow test2" style="font-size: 220px;text-align: center;">
                   Epicerie En Ligne
                </h5>   
                <div class="text-center">

                <a class="btn btndesign" 
                href="/produit">vister</a>
            </div>                 

            </div>
          </div>
        </div>
      </div>
    </div>
</section>